<!DOCTYPE html>
<html lang="pt">
<head>
{{include:admin-head}}
</head>
<body data-adm-page="login">
<main class="adm-login">
  <form class="adm-login-cartao" id="form-login">
    <p class="adm-logo">Tech<span>Gang</span> <em>admin</em></p>
    <label for="l-pass">Password</label>
    <input id="l-pass" name="password" type="password" autocomplete="current-password" autofocus required>
    <p class="adm-erro" id="login-erro" hidden></p>
    <button type="submit" class="adm-btn adm-btn-primario">Entrar</button>
  </form>
</main>
<script src="/js/admin.js"></script>
</body>
</html>
